body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    /* Light gray background */
}

header {
    text-align: center;
    background-color: #3498db;
    /* Blue background for header */
    color: #fff;
    /* White text for header */
    padding: 10px 0;
    /* Add some padding */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 500px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    /* White background for sections */
}

.form-container h2 {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2ecc71;
    /* Green background for button */
    color: #fff;
    /* White text for button */
    border: 1px solid #2ecc71;
    /* Green border for button */
}

button:hover {
    /* background-color: #0069d9; */
    background-color: #27ae60;
    /* Darker green on hover */
}

.account-info h2 {
    margin-bottom: 10px;
}

#interest_rate {
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #2980b9;
    /* Darker blue background for footer */
    color: #fff;
    /* White text for footer */
    margin-bottom: 0;
}