<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mở tài khoản tiết kiệm Online</title>
  <link rel="stylesheet" href="/static/css/savingAccount.css">
</head>

<body>
<header>
  <h1>Mở tài khoản tiết kiệm online</h1>
</header>
<main>
  <section class="form-container">
    <h2 style="text-align: center">Thông tin cá nhân</h2>
    <div class="localStorage" style="display:flex; justify-content: space-around; margin-bottom: 10px">
      <div  id="stk"></div>
      <div >
        <span id="blance"></span>
        <span>VND</span>
      </div>
    </div>

    <form  id="saveAccountForm">
      <div class="form-group">
        <label for="accountName">Tên sổ tiết kiệm:</label>
        <input style="position: relative;" type="text" id="accountName" required>
      </div>

      <div class="form-group">
        <label for="accountType">Loại tài khoản:</label><input style="position: relative;" type="text" id="accountType" value="Hình thức thông thường" readonly>
      </div>

      <div class="form-group">
        <label for="depositDate">Ngày mở sổ:</label>
        <input style="position: relative;" type="date" id="depositDate" readonly placeholder="theo định dạng 'YYYY-MM-DD'">
      </div>
      <div class="form-group">
        <label for="depositAmount" >Số tiền gửi:</label>
        <input style="position: relative;" type="text" id="depositAmount" oninput="formatCurrency(this)"
               required>
        <span class="currency" style="position: absolute; margin-top: -21px;margin-left: 475px;">VND</span>
      </div>
      <span id="error" style="color: red "  class="error"></span>

      <div class="form-group" style=" margin-top: 10px">
        <label for="term">Kỳ hạn:</label>
        <select id="term" name="term" onchange="searchInterestRate()" required>
          <option value="">Chọn kỳ hạn</option>
          <option value="1 tháng">1 tháng</option>
          <option value="3 tháng">3 tháng</option>
          <option value="6 tháng">6 tháng</option>
          <option value="1 năm">1 năm</option>
          <option value="2 năm">2 năm</option>
        </select>
      </div>

      <div class="form-group">
        <label>Lãi suất: </label>
        <div style="display: flex">
          <div class="" id="interestRateValue"></div>
          <span style="margin-left: 2px">/năm</span>
        </div>
      </div>

      <div class="form-group">
        <label for="interestPaymentMethod">Phương thức đáo hạn lãi:</label>
        <select id="interestPaymentMethod" required>
          <option value="">Chọn phương thức</option>
          <option value="Lãi nhận về tài khoản">Lãi nhận về tài khoản</option>
          <option value="Lãi nhập gốc">Lãi nhập gốc</option>
        </select>
      </div>


      <button style=" margin-left: 5px" type="submit" >
        <a style="text-decoration: none; font-size: 15px; color: white;" >
          Xác nhận
        </a>
      </button>
    </form>
</section>
</main>
<footer>
  <p>&copy; 2024 - Ngân hàng Nhóm 11</p>
</footer>


<script src="/static/js/savingAc.js"></script>
</body>
</html>